.container{
    display: flex;
    height: 520px;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    /* Добавил gap для того что бы текст не сьезжал когда сайт на русском  */
    gap: 50px;
}
#name_of_company_lsc{
    font-size: 27px;
}
.left_side_content{
    text-align: start;
    font-size: 55px;
    width: 90vw;
}
.right_side_content{
    font-size: 25px;
    width: 90vw;
    text-align: start;
}
.image{
    width: 100%;
}
@media(max-width: 932px){
    .container{
        flex-wrap: wrap;
    }
}
@media(max-width: 500px){
    .left_side_content{
        text-align: start;
        font-size: 37px;
    }
    .image{
        height: 190px;
    }
}
/* ------------------------------------- */
.container_description{
    display: flex;
    margin: 50px auto;
    height: auto;
    width: 90%;
    flex-wrap: wrap;
}
.left_side_description{
    width: 35vh;
    height: auto;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 0 15px;
    text-align: left;
}
.description_title{
    font-size: 26px;
}
.description_text{
    font-size: 22px;
}
.right_side_description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 73%;
}
.card{
    height: 350px;
    width: 25%;
    border-top: 1px solid rgb(0, 0, 0);
    padding: 15px;
}
.card_title{
    font-size: 26px;
    cursor: default;
}
.card_text{
    font-size: 26px;
    cursor: default;
}

@media(max-width: 730px){
    .card_title{
        font-size: 20px;
    }
    .card{
        flex: 1 1 100%;
    }
}
@media(max-width: 945px){
    .left_side_description{
    width: 100%;
    }
}