/* Добавил что бы страницу можно было скролить */
.main{
    padding-top: 70px;
    height: 2500px;
}
/* ------------------------------------------- */

.container{
    display: flex;
    height: 520px;
    align-items: center;
    justify-content: space-around;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    /* Добавил gap для того что бы текст не сьезжал когда сайт на русском  */
    gap: 50px;
}
#name_of_company_lsc{
    font-size: 27px;
}
.left_side_content{
    text-align: start;
    font-size: 55px;
    width: 90vw;
}
.right_side_content{
    font-size: 25px;
    width: 90vw;
    text-align: start;
}
.image{
    width: 100%;
}
@media(max-width: 932px){
    .container{
        flex-wrap: wrap;
    }
}
@media(max-width: 500px){
    .left_side_content{
        text-align: start;
        font-size: 37px;
    }
    .image{
        height: 190px;
    }
}
/* ------------------------------------- */
.container_description{
    display: flex;
    margin: 50px auto;
    height: 700px;
    width: 90vw;
}
.left_side_description{
    width: 50%;
    height: 100%;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 0 15px;
    text-align: left;
}
.description_title{
    font-size: 24px;
}
.description_text{
    font-size: 22px;
}
.right_side_description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.card{
    height: 400px;
    width: 28%;
    border-top: 1px solid rgb(0, 0, 0);
    padding: 15px;
}
.card_title{
    font-size: 2vw;
}
.card_text{
    font-size: 1.5vw;
}