.header{
    position: fixed;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    width: 100%;
    background-color: #a7a39e;
    cursor: auto;
    letter-spacing: 1px;
}
#main_text{
    padding: 8px 20px;
    border-radius: 2px;
    background-color: #545454;
    color: white;
    font-size: 22px;
    cursor: pointer;
}
.navigation_menu{
    display: flex;
    justify-content: right;
    width: 60vw;
    gap: 10px;
}
.change_lang{
    display: flex;
    justify-content: space-around;
    align-items: right;
    font-size: 16px;
}
.language_button{
    background-color: #a7a39e;
    border: none;
    cursor: pointer;
}
.language_button:hover{
    text-decoration: underline;
}
.navigation_button{
    font-family: 'Josefin Slab', serif;
    font-size: 21px;
    background-color: #a7a39e;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
}
.navigation_button:after{
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 1px;
    background-color: black;
    transition: 0.4s ease-out;
    right:0;
    left: initial;
}
.navigation_button:hover:after,
.navigation_button:focus:after {
	width: 100%;
    right:initial;
    left: 0;
}
@media(max-width: 800px){
    .navigation_menu{
        display: none;
    }
}